# Variáveis de ambiente

# Porta do servidor
PORT = "3000"

PRINT_ROUTES = "true"
PRINT_ROUTES_PATHS = "true"
PRINT_ROUTES_REGEX = "true"

# Banco de dados
DATABASE = "postgresql://[username]:[password]@[host]:[port]/[dbname]?schema=public"

# Número de rodadas de salt para criptografia de senhas
CRYPTOGRAPHY_ROUNDS_OF_SALT = "10"

# Chave secreta para criptografia de dados sensíveis
CRYPTOGRAPHY_SECRET = "[secret]"